PYDevEnv/Lib/

PYDevEnv/content/ss'sBooks/*.pdf
PYDevEnv/content/ss'sBooks/*.epub

PYDevEnv/work/tests/P1/data/ 


PYDevEnv/work/tests/P1/results/models/


PYDevEnv/work/tasks/Notebooks/3sklearnReg/Main_Fifa/
PYDevEnv/work/tasks/Notebooks/3sklearnReg/codigos.zip

Miniforge3-Linux-x86_64.sh