PYDevEnv/Lib/

PYDevEnv/content/ss'sBooks/*.pdf
PYDevEnv/content/ss'sBooks/*.epub

PYDevEnv/devContent/tests/P1/data/ 


PYDevEnv/devContent/tests/P1/results/models/

condaDevEnv/
condaDevEnvDL/
*.sh


PYDevEnv/devContent/tasks/6thTaskAtariAgents/devEnvRL/Lib


PYDevEnv/devContent/tasks/Notebooks/3sklearnReg/Main_Fifa
PYDevEnv/devContent/tasks/Notebooks/3sklearnReg/codigos.zip


PYDevEnv/devContent/tests/P1/cNbs