PYDevEnv/Lib/

PYDevEnv/content/ss'sBooks/*.pdf
PYDevEnv/content/ss'sBooks/*.epub

PYDevEnv/devContent/tests/P1/data/ 


PYDevEnv/devContent/tests/P1/results/models/

condaDevEnv/

*.sh


PYDevEnv/devContent/tasks/6thTaskAtariAgents/DevEnvRL/Lib